.timelineContainer {
  background-color: #000524;
  padding-top: 50px;
}

.title {
  font-size: 60px !important;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  color: whitesmoke;
  margin-bottom: 50px;
  font-weight: 900;
}

h1 {
  margin-top: 20 px;
  text-align: center;
}

h3 {
  padding-top: 0.25 em;
}

.vertical-timeline-elements-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(116, 115, 115, 0.25), 0 0.4em 1.25em 0 rgba(116, 115, 115, 0.15) !important;
  padding: 2em 3em;
  border: 2px solid #e0e0e0;
  border-radius: 10px !important;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.vertical-timeline-element-content:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(206, 204, 204, 0.2);
}

.vertical-timeline-element-title {
  font-size: 24px;
  font-weight: 700 !important;
  color: #333;
  margin-bottom: 20px;
}

.timeline-list {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 15px;
}

.timeline-description {
  line-height: 1.8;
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

@media only screen and (max-width: 1600px) {
  .vertical-timeline-elements-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5 em;
  }
}
